.menu-slide {
  ul {
    list-style: none;
    padding: 0;
    font-family: UKIJQolyazma,ProximaNova,Arial;
    font-weight: normal;
    font-size: 16px;
    @media (min-width:@screen-tablet){
      font-size: 16px;
    }
    li{
      display:block;
      text-align:right;
      padding:5px 0;
      a{
        text-transform: uppercase;
        color:@gray-lighter;
        &:hover{
          color:#fff;
          text-decoration: none;
        }
      }
    }
  }

  .contacts{
    font-size:12px;
    color:@gray-light;
    text-align:right;
  }
}