
#pbg{
  position:fixed;
  z-index:-1;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  display: block;
  overflow: hidden;
//  background-color: @gray-light;
}

#pbg-bg(@z-index:2){
  position:fixed;
  z-index:0 - @z-index;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  display: block;
  overflow: hidden;
  #bg-cover();
}



#orientation{
  position:fixed;
  z-index:10000;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:@gray;
  color:@gray-lighter;
  padding:@gap*2;
  display:none;
  &:before{
    content:'Please, change device orientation'
  }
  @media (max-width: @screen-xs-max) and (orientation:landscape) {
    display: block;
  }
}


#page-colors{
  width:100%;
  height:100%;
  display:block;
  position:fixed;
  left:0;
  top:0;
  overflow: hidden;
  z-index:-1;
  figure{
    width:100%;
    height:100%;
    display:block;
    position:fixed;
    left:0;
    top:0;
    overflow: hidden;
    background-color:green;
    .opacity(0);
    .transition(opacity 2s);
    &.active{
      .opacity(1);
    }
  }
}

.video-wrapper{
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  left:0;
  top:0;
  overflow: hidden;
  figure.active &{
    display:block;
  }
}