h2 {
  font-size: 32px;
  font-family: @font-family-titles-1;
  text-transform: uppercase;
}

.text-content {

  .condesnsed {
    margin-bottom: @gap;
    padding-left: @grid-gutter-width/1;
    padding-right: @grid-gutter-width/1;
    @media (min-width: @screen-sm) {
      padding-left: 22%;
      padding-right: 22%;
    }
    @media (min-width: @screen-md) {
      padding-left: 32%;
      padding-right: 32%;
    }
  }

  .subtitle {
    font-size: 48px;
    line-height: 1;
    font-family: @font-family-titles-1;
    color: @gray-darker;
    //    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    margin: @gap 0;
    //    .super-condesnsed;
    padding: 0 @gap;
    @media (max-width: @screen-xs-max) {
      font-size: 28px;
      margin: @gap/2 0;
    }
  }

  p {
    a {
      text-decotation: none;
      //      border-bottom:1px solid rgba(255,255,255,0.97);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding-bottom: 1px;
      &:hover {
        text-decoration: none
      }
    }
  }
  .btn {
    padding-right: @gap*1.2;
    padding-left: @gap*1.2;
  }

  p {
    line-height: 1;
    text-align: justify
  }
  p > span {
    line-height: 1.2 !important;
  }

  @media (min-width: @screen-sm) {
    p {
      line-height: 1.5;
      text-align: center
    }

    p > span {
      line-height: 1.5 !important;
    }
  }
}

hr {
  width: 20px;
  border-color: @gray-light;
}

.title-icon {
  display: inline-block;
  position: relative;
  padding: @gap/2;
  @fs: 46px;
  font-size: @fs;
  color: lighten(@gray-light, 30%);
}